@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  /* Removed hardcoded black background color to allow Tailwind bg-background to work */
  color: rgb(24, 23, 23);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krub", sans-serif;
}
